body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: aquamarine;
}

#map {
  position: absolute;
  top: 0%;
  bottom: 0;
  width: 70%;
  margin-left: 30%;
  margin-right: 0;
}

#background {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 2rem;
}

.mapboxgl-marker:hover {
  opacity: 0.7;
  cursor: pointer;
}

.mapboxgl-popup {
  width: 250px;
}

.mapboxgl-popup-content {
  font-size: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#sidebar {
  position: absolute;
  width: 30%;
  height: 100%;
  background-image: linear-gradient( rgb(240, 243, 241), rgb(213, 247, 243), grey);
  /*background-color: mediumseagreen;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: auto;
}

.art-lyon {
  margin-left: 40px;
}

.credits {
  margin-left: 40px;
}

.location-list-item {
  list-style: none outside;
  font-size: 1.3rem;
  margin-right: 30px;
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: row;*/
}

.search-locations {
  margin: 15px 40px 0px 40px;
  height: 30px;
  width: 75%;
  padding: 10px 10px 10px 30px;
  font-size: 1.2rem;
}

.sidebar-button {
  height: 25px;
  margin-right: 20px;
  font-size: 1.2rem;
}

/**
 * Make site responsive to *very* small phones
 */
@media screen and (max-width: 350px){

  #search {
    width: 300px;
  }

  body {
    font-size: 1rem;
  }
}


/*
 * Make site responsive to small phones
 */
@media screen and (max-width: 400px){

  #search {
    width: 360px;
  }
}

/*
 * Make site responsive to phones
 */
@media screen and (min-width: 401px) and (max-width: 600px){

}

/*
 * Make site responsive to tablets
 */
@media screen and (min-width: 601px) and (max-width: 800px){

}